.progressbar-div{
    .progress{
        margin-top: 0.7rem;
        height: 1.5rem;
        .progress-bar{
            color: black;
            font-weight: bold;
            padding: 5px;
        }
    }
}



.jumbotron{
    margin-top: 100px;
}

.row{
    margin: 8px;
}