.login {
  display: flex;
  /* flex-direction: row; */
  list-style-type: none;
  font-weight: 500;
  margin: 0;
  position: relative;
  padding: 0;
}

.login .nav-link > a:hover, .nav-link.active{
  color:#3c9621;
}

.login > li {
  margin: 0 1rem;
  overflow: hidden;
}

.login > li a{
  font-size: 17px;
  color: #2c343e;
  text-decoration: none;
  letter-spacing: 0.15em;
  display: inline-block;
  position: relative;
}

.login > li a::after{
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #4a4a4a;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.login > li a:hover::after{
  width: 100%; 
  left: 0; 
}

.navbar{
  background-color: #a5a5a5;
  height: 70px;
  margin: 20px;
  border-radius: 16px;
  padding: 0.5rem;
}

.navbar-toggler{
  border: none;
  font-size: 1.25rem;
}

.navbar-toggler:focus, .btn-close:focus{
  box-shadow: none;
  outline: none;
}

nav.navbar .offcanvas-body .drop .drop-list{
  visibility: hidden;
  opacity: 0;
  position: absolute;  display: none;
  background: white;
}

nav.navbar .offcanvas-body .drop:hover > .drop-list,
nav.navbar .offcanvas-body .drop:hover .drop-list:hover{
  visibility: visible;
  opacity: 1;
  display: block;
  min-width: 250px;
  text-align: left;
  padding-top: 20px;
  box-shadow: 0px 3px 5px -1px #ccc;
}

nav.navbar .offcanvas-body .drop:hover .drop-list li{
  clear: both;
  width: 100%;
  text-align: left;
  margin-bottom: 20px;
  border-style: none;
  text-decoration: none;
  list-style-type: none;
}

nav.navbar .offcanvas-body .drop:hover .drop-list li a{
  transition: all 0.5s ease;
}

nav.navbar .offcanvas-body .drop:hover .drop-list li a:hover {
  padding-left: 10px;
  border-left: 2px solid #3ca0e7;
  transition: all 0.3s ease;
}

nav.navbar .offcanvas-body .drop .drop-list .drop-box .drop-list-box{
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 205px;
  left: 250px; 
  display: none;
  background: white;
}

nav.navbar .offcanvas-body .drop .drop-list .drop-box:hover > .drop-list-box,
nav.navbar .offcanvas-body .drop .drop-list .drop-box:hover .drop-list-box:hover{
  visibility: visible;
  opacity: 1;
  display: block;
  min-width: 250px;
  text-align: left;
  padding-top: 20px;
  box-shadow: 0px 3px 5px -1px #ccc;
}

nav.navbar .offcanvas-body .drop:hover .drop-list .drop-box .drop-list-box li{
  clear: both;
  width: 100%;
  text-align: left;
  margin-bottom: 20px;
  border-style: none;
  text-decoration: none;
  list-style-type: none;
}

nav.navbar .offcanvas-body .drop:hover .drop-list .drop-box .drop-list-box li a{
  transition: all 0.5s ease;
}

nav.navbar .offcanvas-body .drop:hover .drop-list .drop-box .drop-list-box li a:hover {
  padding-left: 10px;
  border-left: 2px solid #3ca0e7;
  transition: all 0.3s ease;
}