<!DOCTYPE html>
<!-- navbar -->
<nav class="navbar navbar-expand-lg fixed-top">
  <div class="container">
    <a class="navbar-brand me-auto" href="#"><img src="../../../assets/img/logo.png" alt="logo" width="170px"></a>

    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel"><img src="../../../assets/img/logo.png" alt="logo" width="170px"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-center flex-grow-1 pe-3 login">
          <li class="nav-item">
            <a class="nav-link mx-lg-2" aria-current="page" routerLink="/home">Home</a>
          </li>

          <li class="nav-item drop">
            <a href="#" class="nav-link mx-lg-2" routerLink="/menu">Courses &dtrif;</a>
            <ul class="drop-list">
              <li><a href="#">Networking</a></li>
              <li><a href="#">Web design</a></li>
              <li><a href="#">Artificial Intelligence</a></li>
              <li><a href="#">Web Content</a></li>

              <li class="nav-item drop-box">
                <a href="#">Digital Marketing &dtrif;</a>
                <ul class="drop-list-box">
                  <li><a href="#">Ads</a></li>
                  <li><a href="#">Content Creation</a></li>
                  <li><a href="#">Audience</a></li>
                </ul> 
              </li>

              <li><a href="#">social Network</a></li>
              <li><a href="#">Human Resource</a></li>
              <li><a href="#">Wordpress</a></li>
              <li><a href="#">Cyber Security</a></li>
              <li><a href="#">Entrepreneur</a></li>
            </ul> 
          </li>
          <li class="nav-item">
            <a class="nav-link mx-lg-2" routerLink="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-lg-2 active" routerLink="/contact">Contact</a>
          </li>
          <li class="nav-item" *ngIf="user_role == 'buyer'">
            <a class="nav-link mx-lg-2" routerLink="/buyer-dashboard">Order</a>
          </li>
          <li class="nav-item" *ngIf="user_role == 'seller'">
            <a class="nav-link mx-lg-2" routerLink="/seller/product">Product</a>
          </li>
          <li class="nav-item" *ngIf="user_role == 'admin'">
            <a class="nav-link mx-lg-2" routerLink="/admin/product">All Product</a>
          </li>
          <li class="nav-item" *ngIf="user_role == 'admin'">
            <a class="nav-link mx-lg-2" routerLink="/buyer-dashboard">All Order</a>
          </li>
          <li class="nav-item" *ngIf="user_role == 'admin'">
            <a class="nav-link mx-lg-2" routerLink="/admin/user">Users</a>
          </li>
          <li class="nav-item drop">
            <a href="#" class="nav-link mx-lg-2">Language &dtrif;</a>
            <ul class="drop-list">
              <li><a href="#">English</a></li>
              <li><a href="#">French</a></li>
              
            </ul> 
          </li>
        </ul>
        
      </div>
    </div>
    <ul class="login" *ngIf="!logged_in">
      <li>
        <a class="nav-link login-button" routerLink="/sign-in">Login</a>
      </li>
      <!-- <li>
        <a class="nav-link login-button" routerLink="/sign-up">Register</a>
      </li> -->
    </ul>
    <ul class="login" *ngIf="logged_in">
      <li>
        <a class="nav-link" routerLink="/my-profile">Profile</a>
      </li>
      <li>
        <a class="nav-link login-button" (click)="logout()">Log out</a>
      </li>
    </ul>

    <button class="navbar-toggler pe-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>
