<!DOCTYPE html>
<div class="container mt-5 mb-5">

    <div class="row">

        <div class="col-lg-7" *ngIf="menuData">
            <a routerLink="../../menu" class="btn btn-sm btn-dark mb-3 ">Back</a>
            <img src="{{menuData[0].subjectImg}}" width="100%"/>
            <h1 class="mt-3">{{menuData[0].subjectName}}</h1>
            <p>{{menuData[0].subjectDetails}}</p>

            <div class="row mt-6">
                <!-- one  -->
                <div class="col-lg-4 mt-2">
                    <div class="stepBox">
                        <i class="bi bi-calendar" style="color: blueviolet;"></i>
                        <h5>Duration <br> <b>4 weeks</b></h5>
                    </div>
                </div>
                <!-- two -->
                <div class="col-lg-4 mt-2">
                    <div class="stepBox">
                        <i class="bi bi-smartwatch" style="color: blueviolet;"></i>
                        <h5>weekly study<br> <b>3 hours</b></h5>
                    </div>
                </div>
                <!-- three  -->
                <div class="col-lg-4 mt-2">
                    <div class="stepBox">
                        <i class="bi bi-star-fill" style="color: blueviolet;"></i>
                        <h5>reviews<br> <b>4.5</b></h5>
                    </div>
                </div>
            </div>

            <div class="col-lg-12 mt-5">
                <div class="stepBox">
                    <h3><b>Requirements</b> </h3>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Basic knowledge of programming is recommended but not required.</li>
                        <li class="list-group-item">A second item</li>
                        <li class="list-group-item">A third item</li>
                        <li class="list-group-item">A fourth item</li>
                        <li class="list-group-item">And a fifth one</li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-12 mt-5">
                <div class="stepBox">
                    <h3><b>Description</b> </h3>
                    <p> Artificial Intelligence (AI) revolution is here! <br>

                        <i>“Artificial Intelligence market worldwide is projected to grow by US$284.6 Billion driven by a compounded growth of 43. 9%. Deep Learning, one of the segments analyzed and sized in this study, displays the potential to grow at over 42. 5%.”</i> (Source: globenewswire). <br>
                        
                        AI is the science that empowers computers to mimic human intelligence such as decision making, reasoning, text processing, and visual perception. AI is a broader general field that entails several sub-fields such as machine learning, robotics, and computer vision.
                    </p>
                </div>
            </div>

            <!----- instructor ----->
            <div class="col-lg-12 mt-5">
                <h3><b>Instructor</b> </h3>
                <div class="card" style="width: 25rem; height: 30rem;">
                    <img src="../../../assets/img/prof1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <a href=""><h5 class="card-title">John Paul</h5></a>
                      <p class="card-text">Professor at the university of london study mathematics, pshcology and web development</p>
                      <div class="exp">
                        <i class="fas fa-book-open" style="margin-right: 10px;"></i><span><b>2</b> Courses</span>
                      </div>
                      <div class="exp">
                        <i class="fas fa-user-group" style="margin-right: 10px;"></i><span><b>3,000</b> Learners</span>
                      </div>
                      
                    </div>
                </div>
            </div>

            <!--recommendation-->
            <div class="col-lg-12 mt-5 overflow-hidden">
                <h3><b>Recommendation</b> </h3>
                <div class="more" >
                    <div class="fav">
                        <button type="button" class="p-1 btn-outline-success col-12 btn-rounded" >DevOps</button>
                    </div>
                    <div class="fav">
                        <button type="button" class="p-1 btn-outline-success col-13 btn-rounded">Business Technology</button>
                    </div>
                    <div class="fav"><button type="button" class="p-2 btn-outline-success col-13 btn-rounded">Statistics</button></div>
                    <div class="fav">
                        <button type="button" class="p-1 btn-outline-success col-15 btn-rounded">Game Development</button>
                    </div>
                    <div class="fav"><button type="button" class="p-1 btn-outline-success col-14 btn-rounded">Amazon Service</button></div>
                    <div class="fav"><button type="button" class="p-1 btn-outline-success col-14 btn-rounded">Network Security</button></div>
                    <div class="fav"><button type="button" class="p-1 btn-outline-success col-16 btn-rounded">Cloud Computing</button></div>
                    
                    <div class="fav"><button type="button" class="p-1 btn-outline-success col-15 btn-rounded">Data Science</button></div>
                    <div class="fav"><button type="button" class="p-1 btn-outline-success col-12 btn-rounded">UX/UI</button></div>
                    <div class="fav"><button type="button" class="p-1 btn-outline-success col-13 btn-rounded">Degital Media</button></div>
                    
                </div>
            </div>
            
        </div>
        
        <!--  join course  -->
        <div class="col-lg-4 col-12" id="studycard">
            <div class="card w-55 shadow p-3 mb-5 bg-body rounded">
                <div class="card-body">
                    <h5 class="card-title" style="padding-top: 10px; padding-bottom: 10px;">{{menuData[0].subjectName}}</h5>
                    <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half"></i><span style="color: darkcyan;font-weight: bold;">4.5 reviews</span>
                    <p class="card-text" style="padding-top: 12px;"><b>4,932 </b>enrolled on this course</p>

                    <div class="exp">
                        <i class="fas fa-calendar-check" id="crs" ></i><span>4 weeks</span><br>
                    </div>

                    <div class="exp">
                        <i class="fas fa-clock" id="crs" ></i><span>3 hours per week</span><br>
                    </div>

                    <div class="exp"> 
                        <i class="fas fa-stairs" id="crs" ></i><span>Intermediate level</span><br>
                    </div><br>

                    <a routerLink="signin">Button</a>
                </div>
            </div>


        </div> 


    </div>

</div>