
<!DOCTYPE html>
<div class="wrapper">
  <div class="inner row">

    <!-- ********* register  ******** -->
    <div class="col-md-12" *ngIf="regForm">
      <img src="../../../assets/img/image-1.png" alt="" class="image-1">
      <form [formGroup]="signUpFrom" (ngSubmit)="onSubmitSignUp()">
        <h3>New Account?</h3>
        <div class="form-holder">
          <span class="bi bi-person"></span>
          <input name="fullName" type="text" formControlName="name" class="form-control" placeholder="Full Name" />
          <small *ngIf="name.invalid && (name.dirty || name.touched)" class="text-danger">
            <div *ngIf="name.errors?.['required']">Name is required</div>
            <div *ngIf="name.errors?.['pattern']">Name should be valid</div>
          </small>
        </div>

        <div class="form-holder">
          <span class="bi bi-envelope"></span>
          <input type="email" name="email" formControlName="email" class="form-control" id="email"
            placeholder="Your email" />
          <small *ngIf="email.invalid && (email.dirty || email.touched)" class="text-danger">
            <div *ngIf="email.errors?.['required']">Email is required</div>
            <div *ngIf="email.errors?.['email']">Email should be valid</div>
          </small>
        </div>

        <div class="form-holder">
          <span class="bi bi-translate"></span>
          <select class="form-select" aria-label="language" formControlName="language"
            aria-placeholder="Select your language">
            <option value="eng">English</option>
            <option value="fr">French</option>
            <option value="arab">Arab</option>
            <option value="spain">Spain</option>
          </select>
        </div>

        <div class="form-holder">
          <span class="bi bi-person"></span>
          <select class="form-select" aria-label="language" formControlName="role" aria-placeholder="Select your role">

            <option value="seller">Seller</option>
            <option value="buyer">Buyer</option>
          </select>
        </div>

        <div class="form-holder">
          <span class="bi bi-lock"></span>
          <input name="password" type="password" formControlName="password" class="form-control"
            placeholder="Password" />
          <small *ngIf="password.invalid && (password.dirty || password.touched)" class="text-danger">
            <div *ngIf="password.errors?.['required']">Password is required</div>
          </small>
        </div>
        <div class="form-holder">
          <span class="bi bi-lock"></span>
          <input name="confirmPassword" type="password" formControlName="confirmPassword" class="form-control"
            placeholder="Confirm Password" />
          <small *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)"
            class="text-danger">
            <div *ngIf="confirmPassword.errors?.['required']">Confirm the password</div>
          </small>
          <small class="text-danger"
            *ngIf="signUpFrom.errors?.['passwordMismatch'] && confirmPassword.valid && password.valid">
            Password should match
          </small>
        </div>
        <button type="submit" aria-label="Register">
          <span>Register</span>
        </button>
        <div class="text-center mt-5">
          <p>Already a member? <a routerLink="/sign-in">Login</a></p>
        </div>
      </form>
      <img src="../../../assets/img/image-2.png" alt="" class="image-2">
    </div>

    <!-- ********* login  ******** -->
    <div class="col-md-12" *ngIf="!regForm">
      <form name="form" #tf="ngForm" (ngSubmit)="tf.form.valid && onSubmitSignIn()">
        <h3>Login</h3>

        <div class="form-holder">
          <span class="bi bi-envelope"></span>
          <input 
            type="email" 
            name="userEmail"  
            class="form-control" 
            id="username"
            placeholder="Enter your email"
            [(ngModel)]="signInFromValue.userEmail"
            #userEmail="ngModel"
            required email
          />
          <small *ngIf="userEmail.invalid && (userEmail.dirty || userEmail.touched)" class="text-danger">
            <div *ngIf="userEmail.errors?.['required']">email is required</div>
            <div *ngIf="userEmail.errors?.['userEmail']">email should be valid</div>
          </small>
        </div>

        <div class="form-holder">
          <span class="bi bi-lock"></span>
          <input 
            type="password" 
            name="userPassword"  
            class="form-control" 
            id="password"
            placeholder="Enter your password"
            [(ngModel)]="signInFromValue.userPassword"
            #userPassword="ngModel" togglePassword
          />
          <small *ngIf="userPassword.invalid && (userPassword.dirty || userPassword.touched)" class="text-danger">
            <div *ngIf="userPassword.errors?.['required']">Password is required</div>
          </small>

        </div>

        <button class="btn" aria-label="login">
          login
        </button>

        <div class="text-center mt-5">
          <p>Not a member? <a routerLink="/sign-up">Register</a></p>
        </div>
      </form>
    </div>


  </div>

</div>