<!DOCTYPE html>
<div class="banner">
    <div class="content">
        <h1 class="mb-5"> Expand your knowledge <br/>  Boost your skills. <br> Find the best courses, wherever they exist</h1>
        
    </div>
</div>
<!-- step  -->
<div class="container mt-5 mb-5">
    <h1 class="text-center">How does it<span class="highlight"> work?</span></h1>
    <div class="row mt-6">
        <!-- one  -->
        <div class="col-lg-3 mt-2">
            <div class="stepBox">
                <h3><i class="bi bi-collection-fill" style="color: rgb(162, 182, 91);"></i></h3>
                <p>Choose a course among the categories</p>
            </div>
        </div>
        <!-- two -->
        <div class="col-lg-3 mt-2">
            <div class="stepBox">
                <h3><i class="bi bi-collection-fill" style="color: rgb(162, 182, 91);"></i></h3>
                <p>Subscribe to remain update</p>
            </div>
        </div>
        <!-- three  -->
        <div class="col-lg-3 mt-2">
            <div class="stepBox">
                <h3><i class="bi bi-megaphone-fill" style="color: rgb(162, 182, 91);"></i></h3>
                <p>Learn, connect and discuss</p>
            </div>
        </div>
        <!-- four  -->
        <div class="col-lg-3 mt-2">
            <div class="stepBox">
                <h3><i class="fas fa-circle-check" style="color: rgb(162, 182, 91);"></i></h3>
                <p>Find your next course to become unchallengable</p>
            </div>
        </div>
    </div>
</div>

<!-- content box  -->
<section>
    <h1 class="text-center">Explore <span class="highlight">Subjects</span></h1>
    <div class="gallery-image">
        <div class="img-box">
          <img src="https://www.flaticon.com/free-icons/security" alt="" />
            <div class="transparent-box">
                <ul class="caption">
                    <li class="tabs-box">Cyber Security</li>
                </ul>
            </div> 
        </div>
        <div class="img-box">
          <img src="https://images.unsplash.com/photo-1557838923-2985c318be48?q=80&w=1631&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" />
          <div class="transparent-box">
            <ul class="caption">
                <li class="tabs-box">Digital Marketing</li>
            </ul>
           
          </div>
        </div>
        <div class="img-box">
          <img src="../../../assets/icons/hacker.png" alt="" />
          <div class="transparent-box">
            <ul class="caption">
                <li class="tabs-box">Ethical Hacking</li>
            </ul>
          </div>
        </div>
        <div class="img-box">
          <img src="https://images.unsplash.com/photo-1636971828014-0f3493cba88a?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" />
          <div class="transparent-box">
            <ul class="caption">
                <li class="tabs-box">Content Creation</li>
            </ul>
          </div> 
        </div>
        <div class="img-box">
            <img src="https://images.unsplash.com/photo-1666875758381-9e627d24133e?q=80&w=1632&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" />
            <div class="transparent-box">
              <ul class="caption">
                  <li class="tabs-box">Ethical Hacking</li>
              </ul>
            </div>
        </div>
        <div class="img-box">
            <img src="https://images.unsplash.com/photo-1636971828014-0f3493cba88a?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" />
            <div class="transparent-box">
              <ul class="caption">
                  <li class="tabs-box">Content Creation</li>
              </ul>
            </div> 
        </div>
        <button routerLink="menu" class="btn btn-rounded text-center mt-4 mb-4">Browse categories <i class="fas fa-angle-right"></i></button>
    </div>
   
</section>


<section class="gallary">
    <div class="section__container gallary__container">
      <div class="image__gallary">
        <div class="gallary__col">
          <img src="https://images.unsplash.com/photo-1586880244406-556ebe35f282?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" height="400px" width="250px" alt="gallary" />
        </div>
        <div class="gallary__col">
          <img src="https://plus.unsplash.com/premium_photo-1682284353484-4e16001c58eb?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" width="300px" alt="gallary" />
          <img src="https://images.unsplash.com/photo-1537202108838-e7072bad1927?q=80&w=1492&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" width="300px" height="400px" alt="gallary" />
        </div>
      </div>
      <div class="gallary__content">
        <div>
          <h2 class="section__title">
            Our trip gallary that will inspire you
          </h2>
          <p class="section__subtitle">
            Unleash your creativity, broaden your horizons, and discover the world of art like never before. 
            Your artistic adventure begins here.
          </p>
          <a href=""><button class="btn">View All</button></a> 
          
        </div>
      </div>
    </div>
</section>

<section class="trip">
    <div class="section__container trip__container">
      <h2 class="section__title">Visit the Art platform</h2>
      <p class="section__subtitle">
        Unleash your inner artist, broaden your horizons, and embark on a journey of self-expression. Whether you are an artist, collector, 
        or someone who simply appreciates the beauty of art, we invite you to explore, create, and connect with us.

        Let your creativity flourish, your perspective expand, and your artistic journey take flight. Your passage into the world of art begins right here.
      </p>
    </div>
</section>
